#message-form {
  display: flex;
  flex-direction: column;
}
.emoji-picker-react {
  width: 100% !important;
}
.CreateButton {
  width: 100%;
  border-radius: 10px;
}
.ResetButton {
  width: 100%;
  border-radius: 10px;
  background-color: tomato;
}
