.Ducks {
  position: relative;
}
.Quack {
  position: relative;
}
body {
  background-color: aqua;
}
.Menu {
  width: 100%;
}
.Login {
  position: relative;
}
.Create {
  position: relative;
}
.Squeaky {
  position: relative;
}
