.Devil {
  border-radius: 2rem;
  margin: 10px;
}
.Horns {
  border-radius: 2rem;
  margin: 10px;
}
.Frankenstein {
  border-radius: 2rem;
  margin: 10px;
}
.Purple {
  border-radius: 2rem;
  margin: 10px;
}
