.Rudolph {
  border-radius: 2rem;
  margin: 10px;
}
.Red {
  border-radius: 2rem;
  margin: 10px;
}
.Prince {
  border-radius: 2rem;
  margin: 10px;
}
.Rain {
  border-radius: 2rem;
  margin: 10px;
}
