.hide {
  display: none;
}
.MessageWrap {
  border: 2px solid yellow;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px;
}

.LikeWrap {
  border: 2px solid Red;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 10px;
  font-weight: bold;
}
.Avatar {
  width: 10%;
  box-shadow: 5px 5px 8px;
  margin: 2px;
  float: right;
}
.MessageText {
  word-break: keep-all;
  word-wrap: break-word;
  font-weight: bold;
}
.UserName {
  font-weight: bold;
}
.MessageLikeButton {
  width: 100%;
  border-radius: 10px;
}
.DeleteButton {
  width: 100%;
  border-radius: 10px;
}
.BlueDuck {
  width: 7%;
  margin-right: 5px;
}
